* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
body {
  background-size: cover;
  background: url("../imgs/wallpaper.jpg") no-repeat fixed 50% 50%;
}
.main-container {
  padding-top: 100px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #f8f8f8;
  text-align: center;
}
.intro-header {
  text-align: center;
  color: #f8f8f8;
}
.intro-message {
  position: relative;
}
.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}
.intro-divider {
  width: 100%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}
.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.section-heading {
  margin-bottom: 30px;
}
.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}
.home-btn {
  width: 120px;
}
