*
    margin 0
    padding 0

body
    background-size cover
    background url(../imgs/wallpaper.jpg) no-repeat fixed 50% 50%


footer
    position fixed
    bottom 0
    width 100%
    color black
    text-align center
